.marquee-container {
  overflow: hidden;
  background-color: #e0f2fe; 
  padding: 10px 0;
}

.marquee-content {
  display: flex;
  gap: 50px;
  animation: marquee 10s linear infinite;
}

.icon {
  color: #1d4ed8; 
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
